#widgetu1267.fld-err-st #u1271
{
	background: url("../images/u1271-ferr.png") no-repeat 0px 0px;
}

#widgetu1243.fld-err-st #u1246
{
	background: url("../images/u1246-ferr.png") no-repeat 0px 0px;
}

#widgetu1238.fld-err-st #u1241
{
	background: url("../images/u1241-ferr.png") no-repeat 0px 0px;
}

#widgetu1215.fld-err-st #u1219
{
	background: url("../images/u1219-ferr.png") no-repeat 0px 0px;
}

.html
{
	background: #F0F0F0 url("../images/fondo-navegador.jpg") no-repeat center top fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 760px;
	min-height: 617px;
	margin-left: auto;
	margin-right: auto;
	padding: 133px 100px 210px;
}

#u2017
{
	z-index: 76;
	width: 2700px;
	top: 0px;
	left: 50%;
	margin-left: -1348px;
}

#pu183
{
	width: 0.01px;
	padding-bottom: 79px;
	position: relative;
	margin-right: -10000px;
}

#u183
{
	z-index: 77;
	top: 0px;
	left: 50%;
	margin-left: -1348px;
}

#u1741
{
	z-index: 84;
	width: 71px;
	height: 13px;
	top: 41px;
	left: 50%;
	margin-left: -112px;
}

#u1741:hover
{
	margin: 0px 0px 0px -112px;
}

#u1741.MuseLinkActive
{
	margin: 0px 0px 0px -112px;
}

#u1773
{
	z-index: 85;
	width: 68px;
	height: 16px;
	top: 38px;
	left: 50%;
	margin-left: 109px;
}

#u1773:hover
{
	margin: 0px 0px 0px 109px;
}

#u1773.MuseLinkActive
{
	margin: 0px 0px 0px 109px;
}

#u1789
{
	z-index: 86;
	width: 68px;
	height: 13px;
	top: 41px;
	left: 50%;
	margin-left: 222px;
}

#u1789:hover
{
	margin: 0px 0px 0px 222px;
}

#u1789.MuseLinkActive
{
	margin: 0px 0px 0px 222px;
}

#u1805
{
	z-index: 87;
	width: 91px;
	height: 13px;
	top: 41px;
	left: 50%;
	margin-left: 334px;
}

#u1805:hover
{
	margin: 0px 0px 0px 334px;
}

#u1805.MuseLinkActive
{
	margin: 0px 0px 0px 334px;
}

#u1821
{
	z-index: 88;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: -21px;
}

#u1835
{
	z-index: 90;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: 197px;
}

#u1826
{
	z-index: 92;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: 84px;
}

#u1838
{
	z-index: 94;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: 310px;
}

#ppu1719
{
	width: 0.01px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 908px;
}

#u1719
{
	z-index: 80;
	height: 119px;
	width: 280px;
	top: 0px;
	left: 50%;
	margin-left: -443px;
}

#u2005
{
	z-index: 96;
	width: 62px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 443px;
}

#u2005:hover
{
	margin: 38px -10000px 0px 0px;
}

#u2005.MuseLinkActive
{
	margin: 38px -10000px 0px 0px;
}

#pwidgetu1214
{
	width: 0.01px;
	position: relative;
}

#widgetu1214
{
	z-index: 2;
	width: 0.01px;
	height: 613px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#widgetu1215
{
	z-index: 3;
	width: 760px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu1215.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1219
{
	z-index: 5;
	height: 35px;
	width: 200px;
	vertical-align: top;
	background: url("../images/u1219.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u1218-3
{
	z-index: 7;
	width: 748px;
	min-height: 28px;
	border-color: #C4C4C4;
	background-color: #C8C8C8;
	padding: 6px;
	line-height: 24px;
	font-size: 24px;
	color: #F0F0F0;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
}

#widgetu1215:hover #u1218-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 40px -10000px 0px 0px;
}

#widgetu1215.focus-st #u1218-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 40px -10000px 0px 0px;
}

#widgetu1215.fld-err-st #u1218-3
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 40px -10000px 0px 0px;
}

#widgetu1215.non-empty-st #u1218-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1215:hover #u1218-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1215.focus-st #u1218-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1238
{
	z-index: 10;
	width: 760px;
	height: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
}

#widgetu1238.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1241
{
	z-index: 12;
	height: 35px;
	width: 200px;
	vertical-align: top;
	background: url("../images/u1241.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u1242-3
{
	z-index: 14;
	width: 748px;
	min-height: 28px;
	border-color: #C4C4C4;
	background-color: #C8C8C8;
	padding: 6px;
	line-height: 24px;
	font-size: 24px;
	color: #F0F0F0;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
}

#widgetu1238:hover #u1242-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 37px -10000px 0px 0px;
}

#widgetu1238.focus-st #u1242-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 37px -10000px 0px 0px;
}

#widgetu1238.fld-err-st #u1242-3
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 37px -10000px 0px 0px;
}

#widgetu1238.non-empty-st #u1242-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1238:hover #u1242-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1238.focus-st #u1242-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1223-4
{
	z-index: 17;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 350px;
}

#widgetu1214.frm-sub-st #u1223-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1221-4
{
	z-index: 21;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 350px;
}

#widgetu1214.frm-subm-err-st #u1221-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1222-4
{
	z-index: 25;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 350px;
}

#widgetu1214.frm-sub-st #u1223-4,#widgetu1214.frm-subm-err-st #u1221-4,#widgetu1214.frm-subm-ok-st #u1222-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1214.frm-subm-ok-st #u1222-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1220-13
{
	z-index: 29;
	min-height: 50px;
	width: 145px;
	background: url("../images/enviar_normal-u1220-13.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 308px;
}

#u1220-13:hover
{
	background: url("../images/enviar_rollover-u1220-13-r.png") no-repeat 0px 0px;
}

#u1220-13:active
{
	background: url("../images/enviar_rollover-u1220-13-m.png") no-repeat 0px 0px;
}

#widgetu1214.frm-sub-st #u1220-13
{
	background: url("../images/enviar_normal-u1220-13-fs.png") no-repeat 0px 0px;
}

#widgetu1243
{
	z-index: 42;
	width: 760px;
	height: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
}

#widgetu1243.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 257px -10000px 0px 0px;
}

#u1246
{
	z-index: 44;
	height: 35px;
	width: 200px;
	vertical-align: top;
	background: url("../images/u1246.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u1247-3
{
	z-index: 46;
	width: 748px;
	min-height: 260px;
	border-color: #C4C4C4;
	background-color: #C8C8C8;
	padding: 6px;
	line-height: 24px;
	font-size: 24px;
	color: #F0F0F0;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
}

#widgetu1243:hover #u1247-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 260px;
	margin: 33px -10000px 0px 0px;
}

#widgetu1243.focus-st #u1247-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 260px;
	margin: 33px -10000px 0px 0px;
}

#widgetu1243.fld-err-st #u1247-3
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 260px;
	margin: 33px -10000px 0px 0px;
}

#widgetu1243.non-empty-st #u1247-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1243:hover #u1247-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1243.focus-st #u1247-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1243_input
{
	width: 748px;
	min-height: 260px;
	color: #F0F0F0;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 24px;
	font-style: italic;
	padding: 6px;
}

#widgetu1267
{
	z-index: 49;
	width: 760px;
	height: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
}

#widgetu1267.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 171px -10000px 0px 0px;
}

#u1271
{
	z-index: 51;
	height: 35px;
	width: 200px;
	vertical-align: top;
	background: url("../images/u1271.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u1268-3
{
	z-index: 53;
	width: 748px;
	min-height: 28px;
	border-color: #C4C4C4;
	background-color: #C8C8C8;
	padding: 6px;
	line-height: 24px;
	font-size: 24px;
	color: #F0F0F0;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
}

#widgetu1267:hover #u1268-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 35px -10000px 0px 0px;
}

#widgetu1267.focus-st #u1268-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 35px -10000px 0px 0px;
}

#widgetu1267.fld-err-st #u1268-3
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	margin: 35px -10000px 0px 0px;
}

#widgetu1267.non-empty-st #u1268-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1267:hover #u1268-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1267.focus-st #u1268-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1215.fld-err-st #u1218-3 *,#widgetu1238.fld-err-st #u1242-3 *,#widgetu1243.fld-err-st #u1247-3 *,#widgetu1267.fld-err-st #u1268-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1215_input,#widgetu1238_input,#widgetu1267_input
{
	width: 748px;
	min-height: 28px;
	color: #F0F0F0;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 24px;
	font-style: italic;
	padding: 6px;
}

#widgetu1215:hover #widgetu1215_input,#widgetu1215.focus-st #widgetu1215_input,#widgetu1215.fld-err-st #widgetu1215_input,#widgetu1238:hover #widgetu1238_input,#widgetu1238.focus-st #widgetu1238_input,#widgetu1238.fld-err-st #widgetu1238_input,#widgetu1243:hover #widgetu1243_input,#widgetu1243.focus-st #widgetu1243_input,#widgetu1243.fld-err-st #widgetu1243_input,#widgetu1267:hover #widgetu1267_input,#widgetu1267.focus-st #widgetu1267_input,#widgetu1267.fld-err-st #widgetu1267_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1286
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u1280
{
	z-index: 56;
	display: block;
	vertical-align: top;
	margin-left: 305px;
	top: -533px;
	margin-bottom: -58px;
	position: relative;
}

#u1291
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-left: 305px;
	top: -451px;
	margin-bottom: -58px;
	position: relative;
}

#u1296
{
	z-index: 62;
	display: block;
	vertical-align: top;
	margin-left: 305px;
	top: -367px;
	margin-bottom: -58px;
	position: relative;
}

#u324
{
	z-index: 64;
	width: 67px;
	top: 432px;
	right: 0px;
}

#u291
{
	z-index: 66;
	height: 47px;
	width: 67px;
}

#u313
{
	z-index: 69;
	height: 47px;
	width: 67px;
	margin-top: 3px;
}

#u1664
{
	z-index: 71;
	width: 2711px;
	bottom: -1px;
	left: 50%;
	margin-left: -1361px;
}

#u1667
{
	z-index: 72;
	margin-right: -10000px;
}

#u1665
{
	z-index: 74;
	width: 303px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 1210px;
}

#page .verticalspacer
{
	clear: both;
}

