.html
{
	background: #F0F0F0 url("../images/fondo-navegador.jpg") no-repeat center top fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 105px 805px 855px 155px;
}

#u2017
{
	z-index: 18;
	width: 2700px;
	top: 0px;
	left: 50%;
	margin-left: -1348px;
}

#pu183
{
	width: 0.01px;
	padding-bottom: 79px;
	position: relative;
	margin-right: -10000px;
}

#u183
{
	z-index: 19;
	top: 0px;
	left: 50%;
	margin-left: -1348px;
}

#u1741
{
	z-index: 26;
	width: 71px;
	height: 13px;
	top: 41px;
	left: 50%;
	margin-left: -112px;
}

#u1741:hover
{
	margin: 0px 0px 0px -112px;
}

#u1741.MuseLinkActive
{
	margin: 0px 0px 0px -112px;
}

#u1773
{
	z-index: 27;
	width: 68px;
	height: 16px;
	top: 38px;
	left: 50%;
	margin-left: 109px;
}

#u1773:hover
{
	margin: 0px 0px 0px 109px;
}

#u1773.MuseLinkActive
{
	margin: 0px 0px 0px 109px;
}

#u1789
{
	z-index: 28;
	width: 68px;
	height: 13px;
	top: 41px;
	left: 50%;
	margin-left: 222px;
}

#u1789:hover
{
	margin: 0px 0px 0px 222px;
}

#u1789.MuseLinkActive
{
	margin: 0px 0px 0px 222px;
}

#u1805
{
	z-index: 29;
	width: 91px;
	height: 13px;
	top: 41px;
	left: 50%;
	margin-left: 334px;
}

#u1805:hover
{
	margin: 0px 0px 0px 334px;
}

#u1805.MuseLinkActive
{
	margin: 0px 0px 0px 334px;
}

#u1821
{
	z-index: 30;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: -21px;
}

#u1835
{
	z-index: 32;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: 197px;
}

#u1826
{
	z-index: 34;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: 84px;
}

#u1838
{
	z-index: 36;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: 310px;
}

#ppu1719
{
	width: 0.01px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 908px;
}

#u1719
{
	z-index: 22;
	height: 119px;
	width: 280px;
	top: 0px;
	left: 50%;
	margin-left: -443px;
}

#u2005
{
	z-index: 38;
	width: 62px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 443px;
}

#u2005:hover
{
	margin: 38px -10000px 0px 0px;
}

#u2005.MuseLinkActive
{
	margin: 38px -10000px 0px 0px;
}

#slideshowu416
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
}

#u457
{
	position: absolute;
	background-color: transparent;
}

#u457popup
{
	z-index: 3;
}

#u462
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u324
{
	z-index: 6;
	width: 67px;
	top: 432px;
	right: 0px;
}

#u291
{
	z-index: 8;
	height: 47px;
	width: 67px;
}

#u313
{
	z-index: 11;
	height: 47px;
	width: 67px;
	margin-top: 3px;
}

#u1664
{
	z-index: 13;
	width: 2711px;
	bottom: -1px;
	left: 50%;
	margin-left: -1361px;
}

#u1667
{
	z-index: 14;
	margin-right: -10000px;
}

#u1665
{
	z-index: 16;
	width: 303px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 1210px;
}

#page .verticalspacer
{
	clear: both;
}

