.html
{
	background: #F0F0F0 url("../images/vlack_1.jpg") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 953px;
	min-height: 1589.65px;
	margin-left: auto;
	margin-right: auto;
	padding: 80px 3px 56.34999999999991px 4px;
}

#u2017
{
	z-index: 40;
	width: 2700px;
	top: 0px;
	left: 50%;
	margin-left: -1348px;
}

#pu183
{
	width: 0.01px;
	padding-bottom: 79px;
	position: relative;
	margin-right: -10000px;
}

#u183
{
	z-index: 41;
	top: 0px;
	left: 50%;
	margin-left: -1348px;
}

#u1741
{
	z-index: 48;
	width: 71px;
	height: 13px;
	top: 41px;
	left: 50%;
	margin-left: -112px;
}

#u1741:hover
{
	margin: 0px 0px 0px -112px;
}

#u1741.MuseLinkActive
{
	margin: 0px 0px 0px -112px;
}

#u1773
{
	z-index: 49;
	width: 68px;
	height: 16px;
	top: 38px;
	left: 50%;
	margin-left: 109px;
}

#u1773:hover
{
	margin: 0px 0px 0px 109px;
}

#u1773.MuseLinkActive
{
	margin: 0px 0px 0px 109px;
}

#u1789
{
	z-index: 50;
	width: 68px;
	height: 13px;
	top: 41px;
	left: 50%;
	margin-left: 222px;
}

#u1789:hover
{
	margin: 0px 0px 0px 222px;
}

#u1789.MuseLinkActive
{
	margin: 0px 0px 0px 222px;
}

#u1805
{
	z-index: 51;
	width: 91px;
	height: 13px;
	top: 41px;
	left: 50%;
	margin-left: 334px;
}

#u1805:hover
{
	margin: 0px 0px 0px 334px;
}

#u1805.MuseLinkActive
{
	margin: 0px 0px 0px 334px;
}

#u1821
{
	z-index: 52;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: -21px;
}

#u1835
{
	z-index: 54;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: 197px;
}

#u1826
{
	z-index: 56;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: 84px;
}

#u1838
{
	z-index: 58;
	width: 5px;
	top: 28px;
	left: 50%;
	margin-left: 310px;
}

#ppu1719
{
	width: 0.01px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 908px;
}

#u1719
{
	z-index: 44;
	height: 119px;
	width: 280px;
	top: 0px;
	left: 50%;
	margin-left: -443px;
}

#u2005
{
	z-index: 60;
	width: 62px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 443px;
}

#u2005:hover
{
	margin: 38px -10000px 0px 0px;
}

#u2005.MuseLinkActive
{
	margin: 38px -10000px 0px 0px;
}

#pu710
{
	width: 0.01px;
	left: -1px;
	position: relative;
}

#u710
{
	z-index: 21;
	width: 953px;
	position: relative;
	margin-right: -10000px;
}

#u558
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 556px;
	left: 309px;
}

#u324
{
	z-index: 28;
	width: 67px;
	top: 432px;
	right: 0px;
}

#u291
{
	z-index: 30;
	height: 47px;
	width: 67px;
}

#u313
{
	z-index: 33;
	height: 47px;
	width: 67px;
	margin-top: 3px;
}

#u563-19
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 76px;
	margin-top: 29px;
	position: relative;
}

#u1664
{
	z-index: 35;
	width: 2711px;
	bottom: -1px;
	left: 50%;
	margin-left: -1361px;
}

#u1667
{
	z-index: 36;
	margin-right: -10000px;
}

#u1665
{
	z-index: 38;
	width: 303px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 1210px;
}

#u582
{
	z-index: 26;
	height: 67px;
	width: 182px;
	vertical-align: top;
	background: url("../images/perfiles_individuales_btn-u582.png") no-repeat 0px 0px;
	margin-left: 388px;
	margin-top: 29px;
	position: relative;
}

#u582:hover
{
	background: url("../images/perfiles_individuales_btn-u582-r.png") no-repeat 0px 0px;
}

#page .verticalspacer
{
	clear: both;
}

